/*          *     .        *  .    *    *   .
 .  *  Add rising gray particles background using IDs
 *  .  .      .      *     .      .          *     
  .   * © 2024 sarazond © 2024–2025 Adam Lui   
    *    .   *     .        *             .    */

@use "sass:math";
@use "sass:string";

@function multiple-box-shadow($n) {
  $value: "#{math.random(2000)}px #{math.random(2000)}px #808080";
  @for $i from 2 through $n {
    $value: "#{$value}, #{math.random(2000)}px #{math.random(2000)}px #808080";
  }
  @return string.unquote($value);
}

$shadows-sm: multiple-box-shadow(700);
$shadows-med: multiple-box-shadow(200);
$shadows-lg: multiple-box-shadow(100);

#gray-particles-sm {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-sm;
  animation: animate-particle 83s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-sm;
  }
}

#gray-particles-med {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-med;
  animation: animate-particle 167s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-med;
  }
}

#gray-particles-lg {
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: transparent;
  box-shadow: $shadows-lg;
  animation: animate-particle 250s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-lg;
  }
}

@keyframes animate-particle {
  from { transform: translateY(0px); } to { transform: translateY(-2000px); }
}
